on:
  pull_request:
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/govulncheck.yml'

jobs:
  govulncheck:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
      - run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...
