on:
  pull_request:
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/govulncheck.yml'

jobs:
  govulncheck:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          stable: 'false'
          go-version: '1.23'
      - run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...
