on: pull_request

jobs:
  govulncheck:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          stable: 'false'
          go-version: '1.23'
      - run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...
