on: pull_request

jobs:
  govulncheck:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        stable: 'false'
        go-version: '1.23'
    - run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...