on:
  push:
    tags:
      - v*

permissions:
  contents: write

env:
  IMAGE: paskalmaksim/aks-node-termination-handler:${{github.ref_name}}
  IMAGE_LATEST: paskalmaksim/aks-node-termination-handler:latest
  # IMAGE: paskalmaksim/aks-node-termination-handler:test-${{ github.run_id }}
  # IMAGE_LATEST: paskalmaksim/aks-node-termination-handler:test-latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
      - name: Remove Git Tags with Charts
        run: git tag -d $(git tag -l "helm-chart-*")
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          # args: build --clean --skip=validate --snapshot
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: cp Dockerfile ./dist/aks-node-termination-handler_linux_amd64_v1/Dockerfile
      - run: cp Dockerfile ./dist/aks-node-termination-handler_linux_arm64/Dockerfile
      - run: cp Dockerfile.windows ./dist/aks-node-termination-handler_windows_amd64_v1/Dockerfile
      - run: tar -cvf release.tar ./dist
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: release
          retention-days: 1
          path: release.tar

  publish-linux-amd64:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      - run: tar xvf ./release/release.tar
      - run: "docker build --pull --push --platform linux/amd64 -t ${{ env.IMAGE }}-linux-amd64 ."
        working-directory: ./dist/aks-node-termination-handler_linux_amd64_v1

  publish-linux-arm64:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      - run: tar xvf ./release/release.tar
      - run: "docker build --pull --push --platform linux/arm64 -t ${{ env.IMAGE }}-linux-arm64 ."
        working-directory: ./dist/aks-node-termination-handler_linux_arm64

  publish-windows-amd64:
    runs-on: windows-latest
    strategy:
      matrix:
        windows-version: ['ltsc2019', 'ltsc2022', 'ltsc2025']
    needs: build
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      - run: tar xvf ./release/release.tar
      - run: "docker build --build-arg WINDOWS_VERSION=${{ matrix.windows-version }} --pull --platform windows/amd64 -t ${{ env.IMAGE }}-windows-${{ matrix.windows-version }}-amd64 ."
        working-directory: ./dist/aks-node-termination-handler_windows_amd64_v1
      - run: docker push ${{ env.IMAGE }}-windows-${{ matrix.windows-version }}-amd64

  publish-manifest:
    runs-on: ubuntu-latest
    needs: [publish-linux-amd64, publish-linux-arm64, publish-windows-amd64]
    steps:
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - run: docker manifest create ${{ env.IMAGE }} ${{ env.IMAGE }}-linux-amd64 ${{ env.IMAGE }}-linux-arm64 ${{ env.IMAGE }}-windows-ltsc2025-amd64
      - run: docker manifest push ${{ env.IMAGE }}
      - run: docker manifest create ${{ env.IMAGE_LATEST }} ${{ env.IMAGE }}-linux-amd64 ${{ env.IMAGE }}-linux-arm64 ${{ env.IMAGE }}-windows-ltsc2025-amd64
      - run: docker manifest push ${{ env.IMAGE_LATEST }}
      - run: docker manifest create ${{ env.IMAGE_LATEST }}-ltsc2025 ${{ env.IMAGE }}-linux-amd64 ${{ env.IMAGE }}-linux-arm64 ${{ env.IMAGE }}-windows-ltsc2025-amd64
      - run: docker manifest push ${{ env.IMAGE_LATEST }}-ltsc2025
