on:
  push:
    tags:
      - v*
    branches: ['main']
  pull_request:
    branches: ['main']
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - 'Dockerfile'
      - 'Dockerfile.windows'
      - '.github/workflows/release.yaml'
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch, commit, or tag to checkout'
        required: true

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.version.outputs.VERSION }}
      IS_TAG: ${{ steps.version.outputs.IS_TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.inputs.ref || github.ref }}
          fetch-depth: '0'
      - name: Get version from git describe
        id: version
        run: |
          VERSION=$(git describe --always --dirty --exclude 'helm-chart-*')
          TAG_PATTERN="^[0-9]+[.][0-9]+[0-9]+$"
          if [[ "$VERSION" =~ $TAG_PATTERN ]]; then
            IS_TAG="true"
          else
            IS_TAG="false"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          echo "IS_TAG=${IS_TAG}" >> $GITHUB_OUTPUT
          echo "Building version: ${VERSION} [is_tag=${IS_TAG}]"
      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: 'go.mod'
      - name: Remove Git Tags with Charts
        ## This is needed for goreleaser to detect the previous release correctly
        run: git tag -d $(git tag -l "helm-chart-*")
      - name: GoReleaser Snapshot
        ## Use --snapshot for dev builds
        if: ${{ steps.version.outputs.IS_TAG != 'true' }}
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --snapshot
        env:
          RELEASE_VERSION: ${{ steps.version.outputs.VERSION }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: GoReleaser Release
        if: ${{ steps.version.outputs.IS_TAG == 'true' }}
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          RELEASE_VERSION: ${{ steps.version.outputs.VERSION }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: cp Dockerfile ./dist/aks-node-termination-handler_linux_amd64_v1/Dockerfile
      - run: cp Dockerfile ./dist/aks-node-termination-handler_linux_arm64_v8.0/Dockerfile
      - run: cp Dockerfile.windows ./dist/aks-node-termination-handler_windows_amd64_v1/Dockerfile
      - run: tar -cvf release.tar ./dist
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: release
          retention-days: 1
          path: release.tar

  publish-dev-linux-amd64:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.IS_TAG != 'true' }}
    steps:
      - run: echo "IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build.outputs.VERSION }}" >> $GITHUB_ENV
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: release
      - run: tar xvf release.tar
      - run: "docker build --pull --push --platform linux/amd64 -t ${{ env.IMAGE }} ."
        working-directory: ./dist/aks-node-termination-handler_linux_amd64_v1

  publish-linux-amd64:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.IS_TAG == 'true' }}
    steps:
      - run: echo "IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build.outputs.VERSION }}" >> $GITHUB_ENV
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      - run: tar xvf ./release/release.tar
      - run: "docker build --pull --push --platform linux/amd64 -t ${{ env.IMAGE }}-linux-amd64 ."
        working-directory: ./dist/aks-node-termination-handler_linux_amd64_v1

  publish-linux-arm64:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.IS_TAG == 'true' }}
    steps:
      - run: echo "IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build.outputs.VERSION }}" >> $GITHUB_ENV
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      - run: tar xvf ./release/release.tar
      - run: "docker build --pull --push --platform linux/arm64 -t ${{ env.IMAGE }}-linux-arm64 ."
        working-directory: ./dist/aks-node-termination-handler_linux_arm64_v8.0

  publish-windows-amd64:
    runs-on: windows-latest
    strategy:
      matrix:
        windows-version: ['ltsc2019', 'ltsc2022', 'ltsc2025']
    needs: build
    if: ${{ needs.build.outputs.IS_TAG == 'true' }}
    steps:
      - run: echo "IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build.outputs.VERSION }}" >> $GITHUB_ENV
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
      - run: tar xvf ./release/release.tar
      - run: "docker build --build-arg WINDOWS_VERSION=${{ matrix.windows-version }} --pull --platform windows/amd64 -t ${{ env.IMAGE }}-windows-${{ matrix.windows-version }}-amd64 ."
        working-directory: ./dist/aks-node-termination-handler_windows_amd64_v1
      - run: docker push ${{ env.IMAGE }}-windows-${{ matrix.windows-version }}-amd64

  publish-manifest:
    runs-on: ubuntu-latest
    needs: [build, publish-linux-amd64, publish-linux-arm64, publish-windows-amd64]
    if: ${{ needs.build.outputs.IS_TAG == 'true' }}
    steps:
      - run: echo "IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.build.outputs.VERSION }}" >> $GITHUB_ENV
      - run: echo "IMAGE_LATEST=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest" >> $GITHUB_ENV
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker manifest create ${{ env.IMAGE }} ${{ env.IMAGE }}-linux-amd64 ${{ env.IMAGE }}-linux-arm64 ${{ env.IMAGE }}-windows-ltsc2025-amd64
      - run: docker manifest push ${{ env.IMAGE }}
      - run: docker manifest create ${{ env.IMAGE_LATEST }} ${{ env.IMAGE }}-linux-amd64 ${{ env.IMAGE }}-linux-arm64 ${{ env.IMAGE }}-windows-ltsc2025-amd64
      - run: docker manifest push ${{ env.IMAGE_LATEST }}
      - run: docker manifest create ${{ env.IMAGE_LATEST }}-ltsc2025 ${{ env.IMAGE }}-linux-amd64 ${{ env.IMAGE }}-linux-arm64 ${{ env.IMAGE }}-windows-ltsc2025-amd64
      - run: docker manifest push ${{ env.IMAGE_LATEST }}-ltsc2025
