on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**/**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/test.yml'

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          stable: 'false'
          go-version: '1.23'
      - run: make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
