on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
jobs:
  validate-license:
    name: validate-license
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: ./scripts/validate-license.sh
